{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static "login/dist/style.css" %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="form" id="form">
  <form class ="form-signin" method = "post" action ="/login">
    {% csrf_token %}
    <div class="field email">
      <div class="icon"></div>
      <input class="input" id="form-control" type="username" name ="username" placeholder="Username" autocomplete="off"/>
    </div>
    <div class="field password">
      <div class="icon"></div>
      <input class="input" id="password" type="password" name = "password" placeholder="Password"/>
    </div>
    <button class="button" id="submit">LOGIN
      <div class="side-top-bottom"></div>
      <div class="side-left-right"></div>
  </button>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script><script  src="{% static "login/dist/script.js" %}"></script>

</body>
</html>
